node_modules
client/node_modules
server/node_modules
client/.next
server/dist
.next
.git
.DS_Store
uploads
server/uploads
npm-debug.log
yarn-error.log
tsconfig.tsbuildinfo
client/tsconfig.tsbuildinfo
server/tsconfig.tsbuildinfo
